
	.fa {
	  padding: 15px;
	  font-size: 20px;
	  width: 20px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	}

	.fa:hover {
	    opacity: 0.7;
	}

	.fa-facebook {
	  background: #3B5998;
	  color: white;
	}
	.fa-twitter {
	  background: #55ACEE;
	  color: white;
	}
	.fa-google {
	  background: #dd4b39;
	  color: white;
	}
		body{
		background-color:white;
		}
		.temp{

		height: 200px;
		width: 400px;
		}
		.c7{
			margin-top:5%;
		}
		.c6{
			margin-left: 2%;
			height : 400px;
			width : 350px;
		}
		.c5{
			margin-top:2%;
			margin-bottom: 2%;
      background-color: #a9cce3;
		}
    .c4{
      margin-top: 3%;
      margin-left: 10%;
      margin-bottom: 3%;
      width : 1000px;
      background-color: #a9cce3;
    }
		.c3{
			background-color:  #154360;
			height:100px;
			width:1280px;
		}
    .c1{

      margin-top: 5%;
			margin-left: 35%;
			background-color:  #a9cce3  ;
			height: 450px;
			width:450px;
		}
